# Ignoruj pliki tymczasowe i katalogi
**/obj/
**/bin/
**/.vs/

# Ignoruj pliki wygenerowane przez Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignoruj pliki konfiguracyjne
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignoruj pliki do debugowania
*.pdb
*.dll.mdb

# Ignoruj katalogi projektów i pliki
[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/

# Ignoruj pliki do zarządzania pakietami NuGet
packages/
*.nupkg
debug/
release/
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates
