# Dodatkowe pliki
createDatabase.txt
appsettings.Local.json

# Ignoruj pliki tymczasowe i katalogi
**/obj/**
**/bin/**
**/.vs/**

# Ignoruj pliki wygenerowane przez Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignoruj pliki konfiguracyjne
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignoruj pliki do debugowania
*.pdb
*.dll.mdb

# Ignoruj katalogi projektów i pliki
[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/

# Ignoruj pliki do zarządzania pakietami NuGet
packages/
*.nupkg
debug/
release/
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

#Angular
# Pliki konfiguracyjne
.angular-cli.json
.angular.json
.npmrc
.nvmrc
package-lock.json
package.json
tsconfig.json
tslint.json

# Katalogi
/dist/
/node_modules/

# Pliki tymczasowe
*.log
*.pid
*.lock
*.sqlite

# Konfiguracja środowiska deweloperskiego
.DS_Store
.idea/
.vscode/

# Pliki tymczasowe systemu operacyjnego
Thumbs.db
Desktop.ini

# Pliki kompilowane TypeScript
*.js
*.js.map
*.d.ts

# Kompilowane pliki CSS
*.css
*.css.map

# Kompilowane pliki SASS
*.scss
*.sass

# Kompilowane pliki Less
*.less

# Kompilowane pliki Stylus
*.styl
*.stylus

# Kompilowane pliki graficzne
*.jpg
*.jpeg
*.gif
*.png
*.svg

# Katalog testów
/e2e/*.log

# Katalog projektu Cypress
/cypress/screenshots/
/cypress/videos/
