<div class="flex">
  <div class="flex-3">
    <h2>Witaj {{this.usersService.currentLoggedUserName}}!</h2>
  </div>
</div>

<div class="flex">
  <div class="flex-1">
    <div class="table-container">
      <table class="table w-100">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr class="hover-gray" *ngFor="let movie of favouriteMovies">
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.category?.name }}</td>
            <td>{{ movie.releaseYear }}</td>
            <td class="text-right">
              <mat-icon (click)="onDeleteFromFavouriteClicked(movie.id)"
                >delete</mat-icon
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
